Checks: >
  clang-analyzer-*,
  bugprone-*,
  modernize-*,
  performance-*,
  readability-*,
  cppcoreguidelines-*,
  -performance-move-const-arg,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -readability-identifier-length,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -readability-const-return-type,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -performance-unnecessary-value-param,
  -readability-else-after-return,
  -readability-math-missing-parentheses,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -cppcoreguidelines-special-member-functions,
  -cppcoreguidelines-avoid-do-while,
  -readability-convert-member-functions-to-static,
  -readability-function-cognitive-complexity,
  -readability-function-cognitive-complexity,
  -bugprone-branch-clone,
WarningsAsErrors: '*'
